@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

* {
    font-family: 'Pixelify Sans', sans-serif;
}

:root {
    --background-color: #9ac5bb;
    --button-bg-color: #C0C0C0;
    --button-hover-bg-color: #484444;
    --button-active-bg-color: darkblue;
    --button-hover-color: yellow;
    --button-active-color: #9ac5bb;
    --taskbar-border-color: #000;
    --window-border-color: #000;
    --close-button-color: rgb(168, 10, 10);
}

body {

    background: var(--background-color) url("assets/JavOS.png") center / auto 100% no-repeat;
    width: 350px;
    height: 400px;
}

button {
    font-size: 25px;
    padding: 3px;
    border: 2px solid var(--window-border-color);
    background-color: var(--button-bg-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
}

button:active {
    color: var(--button-active-color);
    background-color: var(--button-active-bg-color);
}
.window-header {
    background-color: var(--button-bg-color);
    margin: 3px 15px 0;
    border: 3px solid var(--window-border-color);
    border-bottom: 5px double var(--window-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.window-body {
    background-color: #ffffff;
    width: 418px;
    height: 400px;
    margin-left: 15px;
    border: 3px solid var(--window-border-color);
    border-bottom: 5px solid var(--window-border-color);
}

.task-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--button-bg-color);
    border-top: 2px solid var(--taskbar-border-color);
    text-align: center;
}

.close-button {
    background-color: var(--close-button-color);
    margin: 0;
    padding: 0 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        width: 100%;
        height: auto;
    }
    .window-body {
        width: 100%;
        margin: 0;
    }
}