@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

* {
    font-family: 'Pixelify Sans', sans-serif;
}

:root {
    --background-color: #9ac5bb;
    --button-bg-color: #C0C0C0;
    --button-hover-bg-color: #484444;
    --button-active-bg-color: darkblue;
    --button-hover-color: yellow;
    --button-active-color: #9ac5bb;
    --taskbar-border-color: #000;
    --window-border-color: #000;
    --close-button-color: rgb(168, 10, 10);
}

body {
    background-image:url("JavOS.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #9ac5bb;
    background-position:center;
    width: 350px;
    height: 400px;
    margin: 0;
    padding: 0;
}

button {
    font-size: 25px;
    padding: 3px;
    border: 2px solid var(--window-border-color);
    background-color: var(--button-bg-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
}

button:active {
    color: var(--button-active-color);
    background-color: var(--button-active-bg-color);
}
.window-header {
    background-color: var(--button-bg-color);
    margin: 3px 15px 0;
    border: 3px solid var(--window-border-color);
    border-bottom: 5px double var(--window-border-color);
    display: flex;
    width: 418px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.window-body {
    background-color: #ffffff;
    width: 438px;
    height: 400px;
    margin-left: 15px;
    border: 3px solid var(--window-border-color);
    border-bottom: 5px solid var(--window-border-color);
}

.task-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--button-bg-color);
    border-top: 2px solid var(--taskbar-border-color);
}

.close-button {
    background-color: var(--close-button-color);
    margin: 0;
    padding: 0 10px;
}

.task-bar button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.task-windows {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}

.projects {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.33% - 20px);
    justify-content: left;
    visibility: visible;
}

.about {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.33% - 20px);
    justify-content: right;
    margin-left: 20px;
    margin-bottom: 10px;
    visibility: visible;
}

.profile-pic{
    width: 150px;
    height: 150px;
    background-color: var(--background-color);
    justify-self: left;
    margin: 15px;
    border: 2px solid var(--taskbar-border-color);
}

/*.portfolio-button:active + .portfolio-button + .projects {
    visibility: visible;
}*/

@media (max-width: 768px) {
    body {
        width: 100%;
        height: auto;
    }
    .window-body {
        width: 100%;
        margin: 0;
    }
}