    /* COLOR OF LOGO  #9ac5bb */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

button:hover{
    background-color: #484444;
    color:yellow;
}

button:active{
    color: #9ac5bb;
    background-color:darkblue;
}

*{
    font-family: 'Pixelify Sans', sans-serif;
}
body {

    /*background-color: #008080;*/
    background-image:url("JavOS.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #9ac5bb;
    background-position:center;
    font-family: Arial, sans-serif;
    width: 500px;
    height: 400px;
    margin: 0;
    padding: 0;
}

h2 {
    padding-left: 15px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 25px;
    padding: 3px;
    border: 2px solid black;
    background-color: #C0C0C0;
}

.task-bar {
    position:absolute;
    width: 100%;
    background-color: #C0C0C0;
    bottom: 0;
    border-top: 2px solid #000000;
}

.file-explorer-head {
    background-color: #C0C0C0;
    margin-left: 15px;
    border-left: 3px solid black;
    border-top: 3px solid black;
    margin-top: 3px;
    border-right: 3px solid black;
    border-bottom: 2px double black;
}

.close-button {
    display: inline-block;
}

